<h1>Admin Dashboard</h1>
<br>
<table class="table table-bordered">
<thead>
<tr>
<th>Products in database</th>
<th>Categories in database</th>
</tr>
</thead>
<td>
<%= @product_count %>
</td>
<td>
<%= @category_count %>
</td>
</tr>
</table>


