<section>
<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>
<table class="table table-bordered">
<thead>
<tr>
<th>Products in database</th>
<th>Categories in database</th>
</tr>
</thead>
<td>
<%=  @product_count %>
</td>
<td>
<%=  @category_count %>
</td>
</tr>
</table>
Want to add something new or update your inventory?
<%= link_to "Click here!", admin_products_url %>
</section>


