<section class="products-index">
  <header class="page-header">
    <div class="intro">
      <p>
      Well hello there, welcome to the Jungle!

      People have said that plants are quickly becoming more popular than human children and in some cases, even pets! It's not surprising really, considering that they will always listen to you without crying, getting hungry, or needing to go for a walk. They're also much cheaper, and you don't need to save up money for their future education.
      </p>
      
      <p>Plants are an amazing alternative because they don't contribute to overpopulation, plus they provide natural oxygen that keeps YOU happier and healthier. Besides, we all know that living in urban, densly populated environments means it isn't always easy to get out into nature. 
      </p>

      <p>
      Heck, who needs people when you've got plants?!
      </p>
    </div>
  </header>

</section>